<div class="min-h-[80px] flex flex-col items-center justify-center gap-1">
  <p class="text-gray-400">Desarrollado con mucho amor ❤️ y mucho café ☕</p>
  <a
    href="https://github.com/cris-rod96"
    target="_blank"
    rel="noopener noreferrer"
    title="Github"
    aria-label="Github"
    class="text-gray-400 hover:text-white transition-all duration-300"
    >@cris-rod96</a
  >
</div>
