---
import GithubIcon from "@icons/GithubIcon.astro";
import AvailabilityStatus from "./AvailabilityStatus";
import LinkButton from "./LinkButton.astro";
import LinkedInIcon from "@icons/LinkedInIcon.astro";
import ContactIcon from "@icons/ContactIcon.astro";
import WhatsAppIcon from "@icons/WhatsAppIcon.astro";
import CVIcon from "@icons/CVIcon.astro";
---

<section id="intro" class="py-20 flex flex-col">
  <!-- Imagen y cartel de disponibilidad -->
  <AvailabilityStatus client:load />

  <!-- Presentación -->
  <div class="mt-20 max-w-3xl flex flex-col">
    <h1
      class="text-4xl text-gray-400 text-wrap mb-5 [&>span]:font-light [&>span]:text-[#8914dc]"
    >
      Hola, me llamo Cristhian. Soy un <span>Full-Stack</span> & <span
        >Mobile Developer</span
      >
    </h1>
    <p class="text-gray-400 text-lg text-wrap font-light">
      Ingeniero en Sistemas con experiencia en el desarrollo de aplicaciones web
      y móviles. En frontend convierto diseños en interfaces funcionales y
      consistentes, mientras que en backend construyo soluciones escalables.
      También desarrollo apps móviles con React Native.
    </p>
  </div>

  <div class="mt-10 flex items-center gap-3">
    <!-- Botón de Github -->
    <LinkButton href="https://github.com/cris-rod96" label="Github">
      <GithubIcon />
    </LinkButton>

    <!-- Botón de LinkedIn -->

    <LinkButton
      href="https://www.linkedin.com/in/cristhian-rodriguez-659779205/"
      label="Github"
    >
      <LinkedInIcon />
    </LinkButton>

    <!-- Botón para contacto por email -->
    <LinkButton
      href="mailto:crisrodam1996@gmail.com?subject=Contacto%20desde%20tu%20porfolio&body=Hola%20Cristhian,%20estuve%20revisando%20tu%20portfolio%20y%20me%20gustaría%20saber%20más%20sobre..."
      label="Correo electrónico"
    >
      <ContactIcon />
    </LinkButton>

    <!-- Botón para contacto por whatsapp -->

    <LinkButton
      href="https://wa.me/593982932441?text=Hola%20Cristhian,%20he%20revisado%20tu%20portafolio%20y%20me%20gustaría%20conversar%20contigo%20sobre%20una%20posible%20colaboración."
      label="WhatsApp"
    >
      <WhatsAppIcon />
    </LinkButton>

    <!-- Botón para descargarCV -->
    <LinkButton
      href="https://docs.google.com/document/d/1yjxRkOfuvixP5JiZX98OVnVJ7GQkJ8wUFff_kAamn34/export?format=pdf"
      label="Currículum"
    >
      <CVIcon />
    </LinkButton>
  </div>
</section>
